/* Default Page Styling */

* {
    font-family: Helvetica, Arial, sans-serif;
    background-color:rgb(232, 237, 241)
  }
  
  img {
    height: 20vh;
  }
  
  h2 {
    text-align: center;
  }
  
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
  }
  
  article{
  }
  
  section {
  }
  
  .container {
    display: flex;
  }
  
  .main-content {
    padding-left: 2em;
    width: 75%;
    border: 1px solid black;
  }
  
  aside {
    border: 1px solid black;
    padding: 1em;
  }
  
  .fish-card {
    display: flex;
    align-items: center;
    border-top: 1px solid black;
    padding-left: 1em;
  }
  
  .fish-card__text {
    width: 70%;
    text-align: center;
  }
  
  .location-list {
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
  }
  
  .location-card {
    border: 1px solid black;
    margin: 1em;
  }
  
blockquote {
    font-style: italic;
}

footer {
  margin-top: 20vh;
}

#last-fish {
  border-bottom: 1px solid black;
}

  /* .location-card img {
  } */